<layout name="index" />
<form action="{:U('edit?id='.$info[id])}" method="post">
    <div class="form-group" style="color:red;">
        <label class="form-title">项目名：</label>
        <div class="checkbox-inline">
            <?php
                $model = M('project');
                $data['id'] = $info['project_id'];
                $find = $model->where($data)->find();
                print_r($find['content']);
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="form-title">姓名：</label>
        <div class="checkbox-inline">{$info.kh_name}</div>
    </div>
    <div class="form-group">
        <label class="form-title">手机号：</label>
        <div class="checkbox-inline">{$info.phone}</div>
    </div>
    <div class="form-group">
        <label class="form-title">留言详细：</label>
        <div class="checkbox-inline">{$info.info}</div>
    </div>
    <div class="form-group">
        <label class="form-title">所属人：</label>
        <div class="checkbox-inline">
            <?php
                $user = M('user');
                $datas['daihao'] = $info['user_daihao'];
                $find = $user->where($datas)->find();
                print_r($find['name']);
            ?>
        </div>
    </div>
</form>